{% extends "base.html" %}
{% load i18n %}
{% block post_new %}
    {% if posts.number == 1 %}        
        <div>
            <div class="posts">
                <h1 class="content-subhead">{% trans "News" %}</h1>
                {% include '_post_list.html' with post=post_new %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block popular_posts %}       
    {% if show_popular_widget %}        
        <div>
            <div class="posts">
                <h1 class="content-subhead"><strong>{% trans "Popular" %}</strong></h1>
                        {% include '_post_list_popular.html' with post=popular %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block recent_posts %}
    {% if posts|length > 0 %}            
        <div class="posts">
            <h1 class="content-subhead">{% trans "Recent Posts" %}</h1>
            {% for post in posts %}
                {% include '_post_list.html' %}
            {% endfor %}
            
            {% include '_pagination.html' with obj=posts base_url='' %}

        </div>
    {% endif %}
{% endblock %}
