    <!-- A single blog post -->
    {% load i18n %}
    <section class="post">
        <header class="post-header">
{#                         <img class="post-avatar" alt="Tilo Mitra&#x27;s avatar" height="48" width="48" src="img/common/tilo-avatar.png"> #}

            <h2 class="post-title">{{post.title}}</h2>

            <p class="post-meta">
                {% trans "By" %} <a href="#" class="post-author">{{post.author}}</a> {% trans "under" %}
                {% for tag in post.tags.all %}
                    <a class="post-category post-category-design" title="{{tag}}" href="{% url 'posts_tag' tag.slug %}">{{tag}}</a>
                {% endfor %}
            </p>
        </header>
        <article class="post-description">
            {{post.text|truncatewords_html:80|safe}}
        </article>
        <p class="post-more">
            <a href="{{post.get_absolute_url}}" title="{{post.title}}">{% trans "Read more" %}...</a>
        </p>
    </section>